/*
  Variables
*/
/*
  House Keeping
*/
html {
  font-size: 10px;
  font-family: Neuton, sans-serif;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  border: 1px solid #ff2914;
}
/*
  The Good Stuff™ 
*/
.cursors {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.cursors li {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  width: 20%;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 3px solid #f5f57b;
  display: -ms-flexbox;
  display: flex;
  background: #ffff80;
  transition: all 0.1s;
  text-align: center;
}
.cursors li.copied {
  background: #f5f57b;
  transition: all 0.3s;
  transform: scale(1.2);
}
.cursors li.copied.copied-active {
  transition: all 0.2s;
  background: #ffff80;
}
.cursors p {
  font-size: 25px;
}
.default {
  cursor: default;
}
.none {
  cursor: none;
}
.context-menu {
  cursor: context-menu;
}
.help {
  cursor: help;
}
.pointer {
  cursor: pointer;
}
.progress {
  cursor: progress;
}
.wait {
  cursor: wait;
}
.cell {
  cursor: cell;
}
.crosshair {
  cursor: crosshair;
}
.text {
  cursor: text;
}
.vertical-text {
  cursor: vertical-text;
}
.alias {
  cursor: alias;
}
.copy {
  cursor: copy;
}
.move {
  cursor: move;
}
.no-drop {
  cursor: no-drop;
}
.not-allowed {
  cursor: not-allowed;
}
.all-scroll {
  cursor: all-scroll;
}
.col-resize {
  cursor: col-resize;
}
.row-resize {
  cursor: row-resize;
}
.n-resize {
  cursor: n-resize;
}
.e-resize {
  cursor: e-resize;
}
.s-resize {
  cursor: s-resize;
}
.w-resize {
  cursor: w-resize;
}
.ne-resize {
  cursor: ne-resize;
}
.nw-resize {
  cursor: nw-resize;
}
.se-resize {
  cursor: se-resize;
}
.sw-resize {
  cursor: sw-resize;
}
.ew-resize {
  cursor: ew-resize;
}
.ns-resize {
  cursor: ns-resize;
}
.nesw-resize {
  cursor: nesw-resize;
}
.nwse-resize {
  cursor: nwse-resize;
}
.zoom-in {
  cursor: zoom-in;
}
.zoom-out {
  cursor: zoom-out;
}
.grab {
  cursor: -webkit-grab;
  cursor: grab;
}
.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
li.url {
  cursor: url("source/santahand.png"), default;
}
[name="clipboard"] {
  width: 10px;
  height: 10px;
  position: absolute;
  opacity: 0;
}
li.deets {
  text-align: center;
}
li.deets p {
  font-size: 15px;
}
a {
  color: #ff2914;
}
