/*
  Variables
*/

red = #FF2914
yellow = #FFFF80
darkerYellow = #F5F57B
/*
  House Keeping
*/

html
  font-size 10px
  font-family Neuton, sans-serif
  box-sizing: border-box;
  
*, *:before, *:after
  box-sizing: inherit;

body
  margin 0
  border 1px solid red

/*
  The Good Stuff™ 
*/
.cursors
  list-style none
  display flex
  flex-wrap wrap
  height 100vh
  margin 0
  padding 0
  li
    flex-basis 20%
    width 20%
    flex-direction column
    justify-content center
    align-items center
    border 3px solid darkerYellow
    display flex
    background yellow
    transition all 0.1s
    text-align center
    &.copied
      background darkerYellow
      transition all 0.3s
      transform scale(1.2)
    &.copied.copied-active
      transition all 0.2s
      background yellow
      
  p
    font-size 25px


for cursor in cursors
  .{cursor}
    cursor convert(cursor)

li.url
  cursor url('source/santahand.png'),default;

[name="clipboard"]
  width 10px
  height 10px
  position absolute
  opacity 0
  
li.deets
  text-align center
  p
    font-size 15px
a
  color red
